**** PROPERTIES SKAFFOLDER ****
{
    "forEachObj": "oneTime",
    "overwrite": false,
    "_partials": []
}
**** END PROPERTIES SKAFFOLDER ****
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Skaffolder - {{project.name}}</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <h1>Welcome in Skaffolder</h1>
  <p>
      <div>
      You need to build your frontend
      </div>
      <div>
          Please go in <b>./client</b> folder and run:
          <pre>
              yarn i
              yarn run build --prod
          </pre>
      </div>
      <p>
          Take a look to the readme file for more information or to our <a href="http://skaffolder.com/#/documentation" target="_blank">online documentation</a>
      </p>
  </p>
</body>
</html>
